<div class="jumbotron">
    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Daily Report
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <!-- /cont -->

    </div>

    <div block-ui="pageblock">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div>
                                <form class="well" name="form" ng-submit="ctrl.getReport(form)" novalidate>
                                    <p class="bg-danger">{{errorMessage}}</p>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Date:</label>
                                                <input type="date" name="date" class="form-control" ng-model="ctrl.currentDate" value="{{ctrl.currentDate}}" required />
                                                <p class="error-text" ng-messages="form.date.$error" role="alert" ng-show="form.$submitted || form.date.$touched">
                                                    <span class="text-danger" ng-message-exp="'required'">*Required.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Git Username:*</label>
                                                <input type="text" class="form-control" name="username" ng-model="ctrl.username" value="{{ctrl.username}}" placeholder="cmtanko"
                                                    required/>
                                                <p class="error-text" ng-messages="form.username.$error" role="alert" ng-show="form.$submitted || form.username.$touched">
                                                    <span class="text-danger" ng-message-exp="'required'">*Required.</span>
                                                </p>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Git Reponame:*</label>
                                                <input type="text" class="form-control" name="reponame" ng-model="ctrl.reponame" value="{{ctrl.reponame}}" placeholder="testRepo"
                                                    required/>
                                                <p class="error-text" ng-messages="form.reponame.$error" role="alert" ng-show="form.$submitted || form.reponame.$touched">
                                                    <span class="text-danger" ng-message-exp="'required'">*Required.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Git Token:</label>
                                        <input type="text" class="form-control" name="token" ng-model="ctrl.token" value="{{ctrl.token}}">(for
                                        private git repo only*)
                                    </div>
                                    <button type="submit" class="btn btn-primary">Generate</button>
                                </form>
                            </div>


                            <h1>Report</h1>
                            <div class="col-md-12" ng-repeat="user in ctrl.commitsByUsers">
                                <h2>{{user.user}}</h2>
                                <ul>
                                    <li ng-repeat="commit in user.commits">
                                        {{commit.taskId}} | {{commit.taskTitle}} ( {{commit.taskStatus}} )
                                    </li>
                                </ul>
                                <ul>
                                    <li>( {{user.totalTime}} hrs)</li>
                                </ul>

                                <br>
                            </div>

                            <h1>Commits</h1>
                            <ul class="well">
                                <li ng-repeat="repoData in ctrl.repoDatas">
                                    <span>
                                    {{repoData.committedDate}} |
                                    {{repoData.committedBy}} | 
                                    {{repoData.commitMessage}} 
                                 </span>
                                    <br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/col-12-->
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a simple angular webpack es6 example, compatible with lazy-loading modules.</p>
	
		<p>Lodash version: {{main.lodash_version}}</p>
	
	
		<p>Moment version: {{main.moment_version}}</p>
	
    
        <div class="row">
            <div class="col-md-4">
                <div>Image source: <b>Model</b></div>
                <img ng-src="{{main.angularLogo}}" alt="Angular logo">
            </div>
            <div class="col-md-4">
                <div>Image source: <b>URL</b></div>
                <img src="../../../assets/images/yeoman.png" alt="Yeoman logo">
            </div>
        </div>
    </div> -->
</div>