
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


/* override bootstrap styles */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

body {
//   padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

.block-ui-message {
	background-color: transparent !important;
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	width: 40px;
	height: 40px;
	img {
		width: 100%;
	}
}

h1,h2,h3,.highlight,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.jumbotron p {
    margin: 0px;
    margin-bottom:0px;
    font-size: 12px;
}
.error-text span{
    font-size: 11px;
}

/* __________________________________________________ */

.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .s9 {
    border-right: none;
    background-color: #c4d79b;
    text-align: left;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s6 {
    background-color: #ffffff;
}

.ritz .waffle .s11 {
    border-style: solid;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s8 {
    border-style: solid;
    background-color: #c4d79b;
    text-align: left;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s3 {
    border-style: solid;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s5 {
    border-style: solid;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s2 {
    border-style: solid;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: top;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s10 {
    border-style: solid;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s1 {
    border-style: solid;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s0 {
    border-style: solid;
    background-color: #c4d79b;
    text-align: left;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s4 {
    border-style: solid;
    background-color: #b7e1cd;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'Calibri', Arial;
    font-size: 11pt;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .s7 {
border-style: solid;
    border-style: solid;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 10pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}